body {
  font-size: 20px;
  font-family: monospace;
}

#container {
  margin: 20px auto;
  background-color: #b2beb5;
  height: 710px;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}
#start {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 100px;
  height: 150px;
  border: 2px solid rgb(145, 40, 155);
  text-align: center;
  cursor: pointer;
  color: rgb(145, 40, 155);
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#qImg {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}
#qImg img {
  width: 200px;
  height: 200px;
  border-top-left-radius: 5px;
}

#question {
  width: 900px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
#question p {
  height: 70px;
  margin: 0;
  padding: 15px;
  font-size: 1.25em;
}

#choices {
  width: 880px;
  height: 140px;
  position: absolute;
  right: 0;
  top: 125px;
  padding: 10px;
  margin-top: 100px;
}
.choice {
  display: inline-block;
  width: 260px;
  height: 100px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  word-break: break-all;
  vertical-align: top;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}

#timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 30px;
  text-align: center;
}

#counter {
  font-size: 2em;
  top: 20px;
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
}

#progress {
  width: 220px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  text-align: right;
}
.prog {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 1.9px;
  margin-right: 1.9px;
}
#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 150px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: absolute;
  display: none;
  bottom: 40px;
  left: 300px;
}

#scoreContainer img {
  position: absolute;
  top: 46px;
  left: 120.5px;
}
#scoreContainer p {
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 80px;
  left: 122px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#help1 {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 120px;
  border: 2px solid rgb(145, 40, 155);
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 40px;
  bottom: 160px;
  color: rgb(145, 40, 155);
}
#help1:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#help1counterTag {
  font-size: 0.5em;
  border-top: 2px solid black;
}

#help2 {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 120px;
  border: 2px solid rgb(145, 40, 155);
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 40px;
  bottom: 246px;
  color: rgb(145, 40, 155);
}
#help2:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#hintbox {
  font-size: 1em;
  font-weight: bolder;
  border: 2px solid lightgrey;
  text-align: center;
  color: black;
  width: 360px;
  height: 200px;
  top: 15px;
  left: 210px;
  position: absolute;
}

#pause {
  font-size: 1.5em;
  font-weight: bolder;
  width: 120px;
  border: 2px solid rgb(145, 40, 155);
  text-align: center;
  cursor: pointer;
  position: absolute;
  color: rgb(145, 40, 155);
  top: 60px;
  left: 40px;
}
#pause:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}
